@import url("https://fonts.googleapis.com/css?family=Cardo");

:root {
  --primary-color: #d16eea;
  --secondary-color: coral;
  --third-color: #ec7990;
  --background-color: #131313;
  --text-color: #c1dec1;
}

.body-style {
  font-family: Cardo;
  background-color: var(--background-color);
}

.navbar-style {
  font-size: 200%;
}

.toggle-style {
  background-color: var(--secondary-color);
}

.round-img {
  border-radius: 50%;
}

a {
  color: var(--secondary-color);
}
a:hover {
  color: var(--primary-color);
  transition: 0.4s;
}

p {
  color: var(--text-color);
  font-size: 150%;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

nav {
  background-color: var(--background-color);
}

.basic-container {
  padding-top: 3%;
  display: grid;
}

.img-container {
  display: flex;
  justify-content: center;
}
.basic-img {
  margin-right: 1%;
  margin-left: 1%;
}

.title-text {
  color: var(--primary-color);
  font-size: 400%;
  font-family: "Stick", sans-serif;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 5%;
  padding-right: 5%;
}

.title-container {
  position: relative;
  margin: 20%;
}

.paragraph-heading {
  color: var(--secondary-color);
  font-family: "Stick", sans-serif;
  font-size: 300%;
  margin-bottom: 0%;
  text-align: center;
}

footer {
  padding: 1em;
}
