@import url('https://fonts.googleapis.com/css?family=Cardo');

:root{
    --primary-color: rgb(175, 31, 211);
    --secondary-color: coral; 
}

.body-style{
    font-family: Cardo;
    background-color:#303030	;
}

.navbar-style{
    font-size: 200%
}

.round-img{
    border-radius: 50%;
}

a{
    color:var(--secondary-color);
}
a:hover{
    color: var(--primary-color);
}

p{
    color: var(--primary-color); 
    font-size: 150%;
    text-align: center;
    margin-left: 5%; 
    margin-right: 5%; 
}

.basic-container{
    display: grid; 
}

.img-container{
    display:flex; 
    justify-content: center;
}
.basic-img{
    margin-right: 1%; 
    margin-left: 1%; 
}

.title-text{
    color: var(--primary-color);
    font-size: 500%;
    text-align: center; 
    padding-top: 1%; 
    padding-bottom: 1%;
    padding-left: 5%; 
    padding-right: 5%;

}

.title-container{
    position: relative; 
    margin: 20%; 
   
}

.paragraph-heading{
    color: var(--secondary-color);
    font-size: 300%; 
    margin-bottom: 0%; 
}